.lab_card{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 0;
    width: 20rem;
}

.lab_card:hover{
   background-color: #7994c829;
cursor:pointer;
}

.cards{
    /*background-color: #f7f6f6e0;*/
    background-color: #c2bee036;
    padding-top: 20px !important;
}

.content {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.6fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "lab_name"
    "lab_topics";
}

.lab_name { grid-area: lab_name; }

.lab_topics { grid-area: lab_topics; }
