{%extends 'base.html'%}

{%block style%}
<link rel="stylesheet" href="{{url_for('static', filename= 'css/study.css')}}"/>
{%endblock%}

{%block title%}
История кафедры
{%endblock%}

{%block main%}
<div class="container p-0">
    <h3>История кафедры ВМС МГУ им. М.В. Ломоносова</h3>
    <p>
        До начала 1950-х годов В.А. Каргин, будучи одним из ведущих физико-химиков страны и крупнейшим специалистом в
        области полимеров, не был напрямую связан с высшей школой. В 1953 г. после избрания В.А.Каргина действительным
        членом АН СССР заведующий кафедрой коллоидной химии химического факультета МГУ академик П.А.Ребиндер пригласил
        его прочесть спецкурс для студентов дипломников. Этим было положено начало деятельности В.А. Каргина в
        Московском университете.
    </p>
    <p>
        Следующим шагом (1955г.) стало решение ректора МГУ академика И.Г.Петровского об организации на химическом
        факультете новой кафедры для подготовки исследователей в области полимеров с широким университетским
        образованием. До этого времени в технических ВУЗ'ах страны существовали "полимерные" кафедры, но лишь
        узко-технологической направленности (только каучуки и резины или только волокна, или только пластмассы).
        Заведовать первой университетской кафедрой высокомолекулярных соединений был приглашен академик В.А.Каргин.
    </p>
    <hr>
    <p>
        Первыми научными сотрудниками и преподавателями на кафедре стали проф. П.В.Козлов и ст. науч. сотр. С.Я.Мирлина;
        первыми студентами-дипломниками и выпускниками 1956 г. были ныне академики В.А.Кабанов, Н.А.Платэ, Н.Ф.Бакеев и
        канд. хим. наук М.Б.Константинопольская. Трое из них после окончания университета по распределению были
        оставлены для научной и преподавательской работы на химическом факультете. Никто из троих по сей день не
        расстался с кафедрой. Н.А. Платэ (Заслуженный профессор МГУ, ныне Главный ученый секретарь Российской академии
        наук, директор института нефтехимического синтеза РАН) и Н.Ф.Бакеев (ныне директор института синтетических
        полимерных материалов РАН) работают здесь профессорами (по совместительству).
    </p>
    <hr/>
</div>
{%endblock%}